@font-face {
    font-family: 'Hatton';
    src: url('../hatton/PPHatton-Ultralight.woff2');
    font-style: normal;
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Hatton';
    src: url('../hatton/PPHatton-UltralightItalic.woff2');
    font-style: italic;
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Hatton';
    src: url('../hatton/PPHatton-Light.woff2');
    font-style: normal;
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Hatton';
    src: url('../hatton/PPHatton-LightItalic.woff2');
    font-style: italic;
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Hatton';
    src: url('../hatton/PPHatton-Medium.woff2');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Hatton';
    src: url('../hatton/PPHatton-MediumItalic.woff2');
    font-style: italic;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Hatton';
    src: url('../hatton/PPHatton-Bold.woff2');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Hatton';
    src: url('../hatton/PPHatton-BoldItalic.woff2');
    font-style: italic;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Hatton';
    src: url('../hatton/PPHatton-Ultrabold.woff2');
    font-style: normal;
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: 'Hatton';
    src: url('../hatton/PPHatton-UltraboldItalic.woff2');
    font-style: italic;
    font-weight: 900;
    font-display: swap;
}