@font-face {
    font-family: 'Neue Montreal';
    src: url('../neue_montreal/PPNeueMontreal-Thin.woff2');
    font-style: normal;
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../neue_montreal/PPNeueMontreal-ThinItalic.woff2');
    font-style: italic;
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../neue_montreal/PPNeueMontreal-Book.woff2');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../neue_montreal/PPNeueMontreal-Italic.woff2');
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../neue_montreal/PPNeueMontreal-Regular.woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../neue_montreal/PPNeueMontreal-Medium.woff2');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../neue_montreal/PPNeueMontreal-Bold.woff2');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../neue_montreal/PPNeueMontreal-BoldItalic.woff2');
    font-style: italic;
    font-weight: 700;
    font-display: swap;
}